<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>controller.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGetData</servlet-name>
        <servlet-class>controller.LoginGetData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudentData</servlet-name>
        <servlet-class>controller.InsertStudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndividualStudentGetData</servlet-name>
        <servlet-class>controller.IndividualStudentGetData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentData</servlet-name>
        <servlet-class>controller.UpdateStudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertManagerData</servlet-name>
        <servlet-class>controller.InsertManagerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdManData</servlet-name>
        <servlet-class>controller.IdManData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateManagerData</servlet-name>
        <servlet-class>controller.UpdateManagerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteData</servlet-name>
        <servlet-class>controller.DeleteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchInfo</servlet-name>
        <servlet-class>controller.fetchInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewData</servlet-name>
        <servlet-class>controller.ViewDatas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchManagerId</servlet-name>
        <servlet-class>controller.FetchManagerId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComplaint</servlet-name>
        <servlet-class>controller.complaints.addComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDatas</servlet-name>
        <servlet-class>controller.ViewDatas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseComplaint</servlet-name>
        <servlet-class>controller.ResponseComplaintFetchComplaintId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyComplaint</servlet-name>
        <servlet-class>controller.ReplyComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>respC</servlet-name>
        <servlet-class>controller.respC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeReply</servlet-name>
        <servlet-class>controller.SeeReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAssignment</servlet-name>
        <servlet-class>controller.InsertAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAssignment</servlet-name>
        <servlet-class>controller.SubmitAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAssignmentGetData</servlet-name>
        <servlet-class>controller.SubmitAssignmentGetData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSumbmissions</servlet-name>
        <servlet-class>controller.GetSumbmissionsOfAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubmission</servlet-name>
        <servlet-class>controller.GetSubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Submission</servlet-name>
        <servlet-class>controller.Submission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNotice</servlet-name>
        <servlet-class>controller.InsertNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAssignmentGetId</servlet-name>
        <servlet-class>controller.SubmitAssignmentGetId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissionStudent</servlet-name>
        <servlet-class>controller.SubmissionStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationAll</servlet-name>
        <servlet-class>AuthenticationAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGetData</servlet-name>
        <url-pattern>/LoginGetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudentData</servlet-name>
        <url-pattern>/InsertStudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualStudentGetData</servlet-name>
        <url-pattern>/IndividualStudentGetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentData</servlet-name>
        <url-pattern>/UpdateStudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertManagerData</servlet-name>
        <url-pattern>/InsertManagerData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdManData</servlet-name>
        <url-pattern>/IdManData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateManagerData</servlet-name>
        <url-pattern>/UpdateManagerData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteData</servlet-name>
        <url-pattern>/DeleteData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchInfo</servlet-name>
        <url-pattern>/fetchInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewData</servlet-name>
        <url-pattern>/ViewData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchManagerId</servlet-name>
        <url-pattern>/FetchManagerId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComplaint</servlet-name>
        <url-pattern>/addComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDatas</servlet-name>
        <url-pattern>/ViewDatas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseComplaint</servlet-name>
        <url-pattern>/ResponseComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyComplaint</servlet-name>
        <url-pattern>/ReplyComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>respC</servlet-name>
        <url-pattern>/respC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeReply</servlet-name>
        <url-pattern>/SeeReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAssignment</servlet-name>
        <url-pattern>/InsertAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAssignment</servlet-name>
        <url-pattern>/SubmitAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAssignmentGetData</servlet-name>
        <url-pattern>/SubmitAssignmentGetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSumbmissions</servlet-name>
        <url-pattern>/getSumbmissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubmission</servlet-name>
        <url-pattern>/GetSubmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submission</servlet-name>
        <url-pattern>/Submission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNotice</servlet-name>
        <url-pattern>/InsertNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAssignmentGetId</servlet-name>
        <url-pattern>/SubmitAssignmentGetId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissionStudent</servlet-name>
        <url-pattern>/SubmissionStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationAll</servlet-name>
        <url-pattern>/AuthenticationAll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
